@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*Burada yeni bir araba eklemek için alanlar olacak ve buton olacak*@


<h1>ARABA Güncelleme</h1>

<p><b>Güncellenecek Arabanın Id'si:</b></p>
<input type="text" id="txtId" />


<p><b>Arabanın Markası:</b></p>
<input type="text" id="txtMarkasi" />

<br />

<p><b>Arabanın Yılı:</b></p>
<input type="text" id="txtYil" />

<br />

<p><b>Araba İkinci El Mi:</b></p>
<input type="checkbox" id="checkboxEvet"/>


<br />
<br />
<input class="btn btn-warning" type="submit" id="btnGuncelle" value="Arabayı Güncelle" />


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    //Buraya ajax için gerekli işlemleri yazacağız.

    $('#btnGuncelle').click(function () { //btnEkle id'li butuna tıklandığı zaman çalışacak fonksiyon.

        // WEBAPI'mizden bütün ürünleri getirmeyi çağırıp, arabayı güncelleyeceğiz.

        // Öncesinde WEBAPI'deki metota bir ürün objesi göndermemiz gerekli.
        let Id=$('#txtId').val(); //

        let guncellenecekAraba = {
            Marka:$('#txtMarkasi').val(),
            Yil:$('#txtYil').val(),
            IkınciElMi:$('txtIkıncıEl').val()
        }

        $.ajax({
            url: 'https://localhost:7049/api/Car/Guncelle?id='+Id,
            type: 'PUT',
            data: JSON.stringify(guncellenecekAraba), // oluşturduğumuz objeyi Json'a çevir
            headers:{
                'Content-Type': 'application/json'
                
            },

            success: function (data) // Başarılı olduğu zaman çalışsan bölüm
            {
               alert("Başarılı bir şekilde güncellenmiştir.");
               window.location.href="/Home/Index/";
            },
            error: function () // hatalı olduğu zaman çalışacak bölüm
            {
                alert("HATA OLUŞTU.");
            }
        });

    });

</script>